<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- tenemos que mandar a llamar el cdn de vue.js-->
    <script src="https://unpkg.com/vue@next"></script>
    <title>Document</title>
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
        
        li {
          display: inline;
          background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

        }
        li a{
            color: white;
        }
        </style>
</head>

<body>
    <nav>
        <ul>
            <li><a href="index.html">hola mundo</a></li>
            <li><a href="renderizar.html">renderizar</a></li>
            <li><a href="v-bind.html">atributo v-bind</a></li>
            <li><a href="ifelse.html">v-if v-else</a></li>
            <li><a href="vfor.html">v-for</a></li>
            <li><a href="eventoClick.html">Agregar con boton</a></li>
            <li><a href="clasdinamico.html">Class Dinamico</a></li>
        </ul>
    </nav>

    <div id="app">
        <h1>{{titulo}}</h1>
        <!-- usamo v-iif si necesitamos hacer una condicional, en este caso estamos poniendo el compnenete estado en false o true para mostrar o no mostrar la cuenta  -->
        <h2 v-if="estado">cuenta activa</h2>
        <!-- si usamos v-else no toma en cuenta el primer componente y busca un else si lo encuentr lo muestra
        aqui no es necesario poner el igual y nombre de estado ya que este viene arriba -->
        <h2 v-else>Cuenta desactivada</h2>

        <!-- jugemnos con la cantidad -->
        <!-- si la cantidad es mayor a 500 mostramos la cantidad en color negro -->
        <h2 v-if="cantidad>500">CANTIDAD: ${{cantidad}}</h2>
        <!-- o la cantidad es menor o igual a 500 pero mayuor que cero usamos V-ELSE-IF -->
        <h2 v-else-if="cantidad<=500 && cantidad>0">
            CANTIDAD:<span style="color:red">${{cantidad}}</span>
        </h2>
        <h2 v-else><span style="color:red">SIN CANTIDAD</span></h2>

    </div>
    <!-- aqui esta que mandamos a llamar es el main donde esta el vue -->
    <script src="main.js"></script>
    <!-- tenemos que montar la alpliacaion con un "app.moubted" -->
    <script>
        /* const mounted =  es un nombre que no nostros quieramos inventar */
        /* app.mounted = es la contante que nosotros en el archivo de main.js */
        /* (#app) = es el id que tenemos en el el div principal */
        const mountedApp = app.mount('#app');
    </script>
</body>

</html>